<div class="container mt-5">
  <h2 class="mt-5">Lista de Contactos</h2>
  <table class="table table-bordered table-striped mt-3">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Documento</th>
        <th>Fecha de Nacimiento</th>
        <th>Género</th>
        <th>Editar contacto</th>
      </tr>
    </thead>
    <tbody id="contactoTableBody">
      <tr *ngFor="let contact of contacts">
        <td>{{ contact.nombre }}</td>
        <td>{{ contact.documento }}</td>
        <td>{{ contact.fechaNacimiento | date : "yyyy-MM-dd HH:mm" }}</td>
        <td>{{ contact.genero }}</td>
        <td class="text-end">
          <a routerLink="editar/{{ contact.id }}" class="btn btn-primary me-2">
            Editar
          </a>
          <button class="btn btn-danger" (click)="deleteContact(contact)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
