<div class="container mt-5">
    <h2 class="mt-5">Lista de Contactos</h2>
    <table class="table table-bordered table-striped mt-3">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Fecha de Nacimiento</th>
            <th>Género</th>
            <th>Editar contacto</th>
        </tr>
        </thead>
        <tbody id="contactoTableBody">
        <!-- Ejemplos de contactos -->
        <tr>
            <td>1</td>
            <td>Juan Pérez</td>
            <td>1990-05-15</td>
            <td>Masculino</td>
            <td class="text-end">
                <a routerLink="editar/1" class="btn btn-primary me-2">Editar</a>
                <button class="btn btn-danger" >Eliminar</button>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>María López</td>
            <td>1985-08-25</td>
            <td>Femenino</td>
            <td  class="text-end">
                <a routerLink="editar/2" class="btn btn-primary me-2">Editar</a>
                <button class="btn btn-danger" >Eliminar</button>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>Alex García</td>
            <td>2000-02-10</td>
            <td>Otro</td>
            <td  class="text-end">
                <a routerLink="editar/3" class="btn btn-primary me-2">Editar</a>
                <button class="btn btn-danger" >Eliminar</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>